<div class="uk-section uk-section-muted uk-padding-remove-top uk-light">
	<div class="uk-container uk-width-1-1 uk-height-max-large" style="background: url('{{#if @blog.cover_image}}{{@blog.cover_image}}{{else}}{{asset '/images/cover_default.jpg'}}{{/if}}') 50% 50% no-repeat;">
		<div class="uk-margin-medium-top uk-text-center">
			<a href="{{@blog.url}}"><img src="{{#if @blog.logo}}{{@blog.logo}}{{else}}{{asset "/images/logo_uikit.png"}}{{/if}}" alt="{{@blog.title}}"></a>
		</div>
		<div class=" uk-text-center uk-margin-medium-bottom">
			<h1 class="">{{@blog.title}}</h1>
			<p class="" style="font-size: 20px;">{{@blog.description}}</p>
		</div>
	</div>
</div>
