<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{@blog.title}}</title>
		<meta name="author" content="Rovacado">
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{{asset "css/uikit.min.css"}}" rel="stylesheet">
		<link href="{{asset "css/extend.min.css"}}" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto" rel="stylesheet">
		<link href="{{asset "css/fa-svg-with-js.css"}}" rel="stylesheet">
		<script src="{{asset "js/fontawesome-all.min.js"}}"></script>
		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
		<script src="{{asset "js/respond.min.js"}}"></script>
		<![endif]-->
		{{ghost_head}}
	</head>
	<body class="{{body_class}}">
		{{> header}}
		{{{body}}}
		{{> footer}}
		<script src="{{asset "js/uikit.min.js"}}"></script>
		<script src="{{asset "js/uikit-icons.min.js"}}"></script>
		{{ghost_foot}}
	</body>
</html>